body {
    margin: 0;
    width: 600px;
    font-family: Smythe, sans-serif;
}

#header {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    background-image: url('/headerImg.jpg');
    color: whitesmoke;
    height: 167px;
    background-position: 40% 70%;
}

#header h1, p {
    margin: 0;
    padding-left: 50px;
    font-weight: 400;
}

.menu-item-emoji {
    font-size: 70px;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 508px;
    height: 140px;
    margin: 0 auto;
    border-bottom: 1px #D2D2D2 solid;
}

.menu-item-info {
    display: flex;
    align-items: center;
}

.menu-item-add-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.menu-item-name {
    font-size: 28px;
}

.menu-item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin: 0 0 10px;
}

.menu-item-price {
    font-size: 20px;
}

#your-order {
    height: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout, .order-item {
    display: flex;
    justify-content: space-between;
    width: 508px;
}

.item-name {
    font-size: 28px;
    font-weight: 400;
}

.item-price {
    font-size: 20px;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.remove-item-button {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: verdana, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
}

.order-item, #checkout {
    margin: 10px 0;
}

#your-order-summary {
    border-bottom: 1px #D2D2D2 solid;
}

#checkout-button {
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #16DB99;
    border: none;
    width: 508px;
    height: 60px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
}