body {
    margin: 0 auto;
    width: 600px;
    font-family: Smythe, sans-serif;
    border: 1px #8B8B8B solid;
    position: relative;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    background-image: url('/headerImg.jpg');
    color: whitesmoke;
    height: 167px;
    background-position: 40% 70%;
}

#header h1, p {
    margin: 0;
    padding-left: 50px;
    font-weight: 400;
}

.menu-item-emoji {
    font-size: 70px;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 508px;
    height: 140px;
    margin: 0 auto;
    border-bottom: 1px #D2D2D2 solid;
}

.menu-item-info {
    display: flex;
    align-items: center;
}

.menu-item-add-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    background: none;
}

.menu-item-name {
    font-size: 28px;
}

.menu-item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin: 0 0 10px;
}

.menu-item-price {
    font-size: 20px;
}

#your-order {
    height: 319px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#checkout, .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 508px;
}

.item-name {
    font-size: 28px;
    font-weight: 400;
}

.item-price {
    font-size: 20px;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.remove-item-btn {
    background: none;
    border: none;
    font-family: verdana, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
}

.order-item, #checkout {
    margin: 10px 0;
}

#your-order-summary {
    border-bottom: 1px #D2D2D2 solid;
}


#checkout span {
    font-size: 28px;
}

#checkout #total-price {
    font-size: 20px;
}

#checkout-btn {
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #16DB99;
    border: none;
    width: 508px;
    height: 60px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#your-card-info {
    display: none;
    border: 1px solid #757575;
    border-radius: 4px;
    box-shadow: 5px 5px 255px 0 #00000080;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
}

#your-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 550px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#your-card-form input {
    margin-bottom: 20px;
    width: 475px;
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 20px;
    font-weight: 400;
}

#your-card-submit {
    width: 475px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: #16DB99;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
}